.container {
  display: grid;
  grid-template-columns: auto auto;
  height: 100vh;
  background: whitesmoke;
  letter-spacing: 1px;
}

.left_container img {
  height: 100vh;
  padding: 2% 0 10% 15%;
}
.right_container {
  background: whitesmoke;
  border-radius: 5px;
  margin: 15% 15% 0 0;
}

.heading {
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}
.heading p {
  font-size: 30px;
}

/* Form */

.form {
  padding: 10%;
}
.form input {
  border: 1px solid rgb(190, 190, 190);
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3%;
}
.form button {
  border-radius: 5px;
  border: 0;
  background: #f7b623;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  font-size: large;
}
.form button:hover {
  opacity: 0.8;
}
.google_btn1 {
  padding: 2% 10%;
}
.google_btn1 button:hover {
  opacity: 0.8;
}
.google_btn1 button {
  border: 0;
  background: rgb(39, 91, 204);
  color: #fff;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  font-size: large;
}

@media screen and (max-width: 850px) {
}
