/* * {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
} */
.container {
  display: flex;
  height: 100vh;
}
.left-container {
  width: 50%;
}
.left-container img {
  height: 90vh;
}
.right-container {
  background: whitesmoke;
  border-radius: 5px;
  margin: 2% 5%;
}
.heading {
  text-align: center;
}
.heading p {
  font-size: 30px;
}

/* Form */

.form {
  padding: 8%;
}
.form input {
  border: 1px solid rgb(190, 190, 190);
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3%;
}
.form button {
  border-radius: 5px;
  border: 0;
  background: #f7b623;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  font-size: large;
}
.google-btn {
  padding: 10%;
}
.google-btn button {
  border: 0;
  background: rgb(39, 91, 204);
  color: #fff;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  font-size: large;
}
.or-line {
  padding: 0 5%;
}
.or-line p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.or-line p span {
  background: #fff;
  padding: 0 10px;
}
