.joinOuterContainer {
    text-align: center;
    height: 100vh;
    background-color:#eeeeee;
  }
  
  .joinInnerContainer {
    width: 20%;
    margin-top: 2rem;
    margin-left: 44rem;
  }
  @media screen and (max-width:500px) {
    .joinInnerContainer{
      margin-top: 2rem;
      margin-left: 2rem;
    }
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 80%;
  }
  
  .heading {
    color:#000;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979FF;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 81%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }

.mentor{
display: flex;
justify-content: center;
column-gap: 2rem;
padding-top: 1rem;
}
.Johnimg{
  width: 11vw;
}
@media screen and (max-width:500px){
  .mentor{
    column-gap: 1rem;
  }
}