
.container {
  display: flex;
  height: 100vh;
}
.left-container {
  width: 50%;
}
.left-container img {
  height: 90vh;
}
.right-container {
  width: 60%;
  background: whitesmoke;
  border-radius: 5px;
  margin: 2% 5%;
}

.heading {
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}
.heading p {
  font-size: 30px;
}

/* Form */

.form {
  padding: 10%;
}
.form input {
  border: 1px solid rgb(190, 190, 190);
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3%;
}
.form button {
  border-radius: 5px;
  border: 0;
  background: #f7b623;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  font-size: large;
}
.form button:hover {
  opacity: 0.8;
}
.google-btn1 {
  padding: 2% 10%;
}
.google-btn1 button:hover {
  opacity: 0.8;
}
.google-btn1 button {
  border: 0;
  background: rgb(39, 91, 204);
  color: #fff;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  font-size: large;
}
.or-line {
  padding: 0 10%;
  margin-top: -50px;
}
.or-line p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.or-line p span {
  background: #fff;
  padding: 0 10px;
}

@media screen and (max-width: 850px) {
  .container {
    display: grid;
  }
  .left-container {
    width: 100%;
    margin: auto;
  }
  .right-container {
    width: 100%;
    margin: auto;
  }
}
